
<EditForm Model="trabajo" OnValidSubmit="onValidSubmit">
        <DataAnnotationsValidator />

        <form>
            <div class="modal-body">
                <div class="form-row">

                    <div class="col mb-3">
                        <InputNumber class="form-control" type="text" placeholder="Referencia Cliente" name="clienteId" @bind-Value="@trabajo.ClienteId" />
                        <ValidationMessage For="@(() => trabajo.ClienteId)" />
                    </div>

                    <div class="col mb-3">
                        <InputNumber class="form-control" type="number" placeholder="Hectareas" name="hectareas" @bind-Value="@trabajo.Hectareas" />
                        <ValidationMessage For="@(() => trabajo.Hectareas)" />
                    </div>
                    <div class="col mb-3">
                        <InputText class="form-control" type="text" placeholder="Ubicacion" name="ubicacion" @bind-Value="@trabajo.Ubicacion" />
                        <ValidationMessage For="@(() => trabajo.Ubicacion)" />
                    </div>

                    <div class="col mb-3">
                        <InputText class="form-control" type="text" placeholder="Agroquimico" name="agroquimico" @bind-Value="@trabajo.Agroquimico" />
                        <ValidationMessage For="@(() => trabajo.Agroquimico)" />
                    </div>

                    <div class="col-5 mb-3">
                        <InputDate class="form-control" name="fecha" @bind-Value="@trabajo.Fecha" />
                        <ValidationMessage For="@(() => trabajo.Fecha)" />
                    </div>

                    <div class="col mb-3">
                        <InputNumber class="form-control" placeholder="Referencia Maquinista" name="maquinistaId" @bind-Value="@trabajo.MaquinistaId" />
                        <ValidationMessage For="@(() => trabajo.MaquinistaId)" />
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" >Crear</button>
                <button type="submit" class="btn btn-danger" @onclick="onCancel" >Cancelar</button>
            </div>
        </form>
</EditForm>

@code {
    [Parameter] public Trabajo trabajo { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }

}
